option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 3000
  aws:elasticbeanstalk:container:docker:
    Dockerfile: Dockerfile
  aws:elbv2:loadbalancer:
    SecurityGroups: []
    ManagedSecurityGroup: ''
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t3.micro
    SecurityGroups:
      - sg-elasticbeanstalk-all
  aws:autoscaling:updatepolicy:rollingupdate:
    MinInstancesInService: '1'
    MaxBatchSize: '1'
    Timeout: '600'
  aws:elasticbeanstalk:sns:topics:
    Notification Endpoint: ''
    Notification Protocol: email
  aws:elasticbeanstalk:healthreporting:system:
    EnhancedHealthAuthEnabled: 'true'
    SystemType: enhanced
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '4'
    Availability Zones: Any
  aws:autoscaling:scaling:policy:
    ScaleUpIncrement: '1'
    ScaleDownIncrement: '1'
  aws:ec2:vpc:
    VPCId: ''
    Subnets: ''
    ELBSubnets: ''
    ELBScheme: public
    ELBSecurityGroups: ''
  aws:elasticbeanstalk:sqsd:
    WorkerQueueURL: ''
    HTTP Path: /worker/task
    MimeType: application/json
    HttpConnectorConfigSize: 25
    HttpConnectorConfigTpSize: 10
    JobTimeout: 3600
    RetentionCount: 3
    VisibilityTimeout: 300